/****** ALL ******/
:ROOT {
    --fontScript: "BeautifulScarlet-Regular";
    --fontElegant: "SilverSouthSerif";
    --fontText: "Poppins", sans-serif;
    --colorWhite: #F5F5F5;
    --colorBlue: #A0AECD;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--fontText);
    scroll-behavior: smooth;
}

/****** NAVIGATION ******/
nav {
    position: fixed;
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 100;
    background-color: var(--colorWhite);
}

nav ul {
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    display: inline;
    vertical-align: middle;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li img {
    width: 200px;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--colorBlue);
}

/****** LANDING PAGE ******/
#landing-content {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

/****** CONTENT ******/
#scroll-content {
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 50;
    background-color: var(--colorWhite);
}

#scroll-content .content-sections {
    padding: 100px 0;
    border: 1px solid black;
}

#scroll-content .content-sections h2 {
    text-align: center;
    font-family: var(--fontElegant);
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/****** ABOUT ******/
#scroll-content #about-section {}

#scroll-content #about-section p {
    width: 50%;
    margin: 25px 25%;
    text-align: justify;
}

/****** PORTFOLIO ******/
#scroll-content #portfolio-section {}

#scroll-content #portfolio-section .portfolio-left {
    position: relative;
    width: 30%;
    height: 400px;
    margin-left: 15%;
    text-align: center;
    vertical-align: middle;
    background-color: var(--colorBlue);
    border-radius: 25px;
}

#scroll-content #portfolio-section .portfolio-right {
    position: relative;
    width: 30%;
    height: 400px;
    align-items: right;
    margin: -100px 15% -100px 55%;
    text-align: center;
    border: 10px solid var(--colorBlue);
    border-radius: 25px;
}

/****** PRICING ******/
#scroll-content #pricing-section {}

#scroll-content #pricing-section p {
    width: 50%;
    margin: 25px 25%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

#scroll-content #pricing-section p .pricing-title {
    font-family: var(--fontScript);
    font-size: 75px;
    text-transform: lowercase;
}

#scroll-content #pricing-section p .money-text {
    display: block;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--colorBlue);
}

#scroll-content #pricing-section p .smaller-text {
    display: block;
    font-size: 15px;
    letter-spacing: 2px;
}

/****** CONTACT ******/
#scroll-content #contact-section {}

#contact-section form {
    width: 50%;
    margin: 25px 25%;
    text-align: right;
}

#contact-section form ul {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: right;
}

#contact-section form ul li {
    margin: 10px;
}

#contact-section form ul input[type=text] {
    margin-left: 10px;
    padding: 5px 5px 5px 10px;
    height: 32px;
    width: 70%;
    font-family: var(--fontText);
    font-size: 16px;
    background-color: var(--colorBlue);
    border: 1px solid var(--colorBlue);
    border-radius: 3px;
}

#contact-section form ul input[type=submit] {
    height: 45px;
    width: 72.5%;
    padding: 10px;
    font-family: var(--fontText);
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--colorBlue);
    border: 1px solid var(--colorBlue);
    border-radius: 3px;
}

#contact-section form ul input[type=submit]:hover {
    cursor: pointer;
}

/****** FOOTER ******/
#footer {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--colorWhite);
    background-color: black;
}